html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

body {
	display: flex;
	align-items: center;
}

#content {
	width: 1000px;
	height: 700px;
	margin: 0 auto;
	padding: 30px;
	background-color: #363640;
	display: flex;
	border-radius: 50px;
	gap: 15px;
	opacity: 90%;
}

form {
	display: flex;
}

input {
	flex: 1;
	height: 25px;
	border-radius: 40px;
	margin-bottom: 20px;
	background-color: #070a13;
	color: white;
	padding-left: 20px;
}

#column1 {
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
}

#weather-display {
	background-color: #070f1b;
	border-radius: 50px;
	text-align: center;
	padding: 50px 20px;
	flex: 1;
	color: white;
}

#weather-display > img {
	display: inline;
	margin: 0;
	width: 50px;
	height: 50px;
}

#cityName {
	margin-bottom: 10px;
}

#temp {
	font-size: 50px;
	font-weight: bold;
}

#main-weather {
	font-size: 25px;
	margin-bottom: 120px;
}

#cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px;
}

.card {
	flex: 1;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	background-color: #0b0d16;
	border-radius: 20px;
	padding: 15px;
	color: white;
}

.card h2 {
	font-size: 20px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif
}

#column2 {
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 15px;
}

.big-card {
	grid-column: 1/-1;
	background-color: gainsboro;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#weekly {
	grid-column: 1/-1;
	background-color: gainsboro;
	border-radius: 20px;
}

#hourly {
	display: flex;
}

#daily {
	display: flex;
}

.forecast{
	padding: 20px;
	background-color: #070a13;
	color: white;
}

.forecast > h1 {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	font-family: arial;
}

.flex-item {
	flex: 1;
	padding: 15px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.flex-item > h1 {
	font-size: 20px;
	font-weight: bold;
}

.flex-item > img {
	height: 50px;
	width: 50px;
}

span {
	display: flex;
	gap: 5px;
	align-items: center;
}

span > img {
	height: 20px;
	width: 20px;
}


.big-card > span > h1 {
	font-size:large;
	font-weight: bold;
}

.wind-span {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	column-gap: 10px;
}

.wind-span > h2 {
	grid-row: 1/-1;
}


